{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="padding-bottom: 10px">
        <h3>Mon profil</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-info" style="font-size: 16px !important;" >Modifier</button>
        {{ form_end(form) }}

        <hr>
        <h3>Modifier le mot de passe</h3>
    </div>
{% endblock %}

{% block title %}
Mon profil {{ user.fullname }}
{% endblock %}

