<!-- Footer Section -->

<footer id="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4  col-sm-4">
                <h3>Scouts et Guides de France</h3>
                <p>Les Scouts et Guides de France sont un mouvement catholique de jeunesse et d'éducation populaire. L'association est accueillante pour toutes et tous, sans distinction de nationalité, de culture, d'origine sociale ou de croyance.</p>
                <a href="https://www.sgdf.fr"><img class="img-responsive sgdf" src="/images/SGDF_logo_RVB_vertical_lowres.png" alt=""></a>
            </div>

            <div class="col-md-4  col-sm-4">
                <h3>Rillettes forts et verts</h3>
                <p>Nous sommes l'équipe Compagnon du groupe de la XIV le Mans Cathédrale St Julien.</p>
                <div class="footer-copyright">
                    <p>Copyright &copy; 2020 Rillettes forts et verts - Design: <a href="https://www.tooplate.com/">Tooplate</a> </p>
                </div>
            </div>

            <div class="col-md-4  col-sm-4">
                <h3>Nous contacter</h3>
                <p>Sur nos réseaux sociaux</p>
                <p><i class="fa fa-mail-forward"></i> rillettesfortsetverts@gmail.com</p>
            </div>



            <div class="col-md-12 col-sm-12">
                <ul class="social-icon">
                    <li><a href="https://www.facebook.com/rillettesfortsetverts" class="fa fa-facebook"></a></li>
                    <li><a href="https://www.instagram.com/rillettes_forts_et_verts/" class="fa fa-instagram"></a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>

<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>