
<!-- Navigation section  -->

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="{{ path('home') }}" class="navbar-brand"><img src="/images/SGDF_COMPAGNONS_vert_lowres.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="index.html">Acceuil</a></li>
                <li><a href="about.html">Présentation du site</a></li>
                <li><a href="gallery.html">Contact</a></li>
                <li><a href="https://www.instagram.com/rillettes_forts_et_verts/"><img src="/images/insta.png" alt="Compte instagram"></a></li>
                <li><a href="https://www.facebook.com/rillettesfortsetverts/"><img src="/images/facebook.png" alt="Page facebook"></a></li>

            </ul>
        </div>

    </div>
</div>